.birthday-item {
    padding: 25px; }
  
  .subject-item {
    padding: 15px; }
  
  
    .birthday-item .author-thumb {
      width: 40px;
      height: 40px;
      margin-right: 12px; }
    .birthday-item .birthday-date {
      font-size: 12px; }
    .birthday-item .btn {
      margin-bottom: 0;
      float: right;
      margin-top: 5px;
      max-width: 35%; }
    .birthday-item.badges .author-thumb {
      width: 38px;
      height: 38px;
      margin-right: 25px; }
    .birthday-item.badges .birthday-date {
      font-size: 13px; }
    .birthday-item.badges .skills-item {
      min-width: 220px;
      display: block;
      float: right;
      margin-bottom: 0;
      margin-top: 18px; }
      @media (max-width: 999px) {
        .birthday-item.badges .skills-item {
          float: none; } }
    .birthday-item.badges .skills-item-meter-active {
      background: linear-gradient(to right, #ff613a, #ff9432); }
  
  .label-avatar {
    position: absolute;
    top: -1px;
    right: -4px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100%;
    overflow: hidden; }
  
  /*------------- Responsive mode styles --------------*/
  @media (max-width: 1400px) {
    .birthday-item {
      padding: 25px 10px; } }
  
  @media (max-width: 1200px) {
    .birthday-item {
      padding: 15px; } }
  
  @media (max-width: 980px) {
    .col-xl-5.col-lg-6.col-md-12.col-sm-12.col-xs-12.padding-r-0 {
      padding-right: 15px; }
    .col-xl-7.col-lg-6.col-md-12.col-sm-12.col-xs-12.padding-l-0 {
      padding-left: 15px; } }
  
  @media (max-width: 480px) {
    .add-options-message .options-message + .options-message {
      margin-left: 15px; }
    .add-options-message button {
      float: none;
      margin-left: 0;
      display: block;
      margin-top: 10px; }
    .add-options-message button + button {
      margin-right: 0; }
    .notification-list .notification-event {
      max-width: 75%; }
    .birthday-item {
      padding: 10px; }
    .birthday-item .author-thumb {
      margin-right: 5px; } }
  
  @media (max-width: 420px) {
    .birthday-item.badges .author-thumb {
      margin-right: 0;
      margin-bottom: 15px;
      display: block; } }
